*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  gap: 50px;
}

#boardOne {
  display: flex;
  flex-direction: column;
}

#boardTwo {
  display: flex;
  flex-direction: column;
}

.box {
  border: 1px black solid;
  width: 25px;
  height: 25px;
}

.row {
  display: flex;
  flex-direction: row;
}

.carrier {
  height: 130px;
  width: 130px;
}
.battleship {
  height: 105px;
  width: 105px;
}
.destroyer {
  height: 80px;
  width: 80px;
}
.submarine {
  height: 80px;
  width: 80px;
}
.patrolboat {
  height: 80px;
  width: 80px;
}

#place_carrier {
  width: 125px;
  height: 25px;
  background-color: grey;
  border: 1px solid black;
  cursor: move;
}
#place_battleship {
  width: 100px;
  height: 25px;
  background-color: purple;
  border: 1px solid black;
  cursor: move;
}
#place_destroyer {
  width: 75px;
  height: 25px;
  background-color: pink;
  border: 1px solid black;
  cursor: move;
}
#place_submarine {
  width: 75px;
  height: 25px;
  background-color: orangered;
  border: 1px solid black;
  cursor: move;
}
#place_patrolboat {
  width: 50px;
  height: 25px;
  background-color: green;
  border: 1px solid black;
  cursor: move;
}

.draggable.dragging {
  opacity: 0.5;
}

.boatBox {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid black;
}

.boatRow {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
}

#harbor {
  order: -1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: lightblue;
  margin-right: 50px;
  gap: 10px;
  padding: 10px;
  border: 8px solid rgb(225, 163, 81);
}

.segment {
  width: 25px;
  height: 25px;
  border: 1px solid black;
}

#segmented__carrier {
  display: flex;
  flex-direction: row;
  margin-top: -1px;
  margin-left: -1px;
}

#segmented__carrier:hover {
  cursor: grab;
}

#segmented__carrier .segment {
  outline: 1px solid; /* use instead of border */
  margin-top: 1px;
  margin-left: 1px;
  background-color: silver;
}

#boatBox__carrier {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  /* border: 2px solid black; */
  height: 130px;
  width: 130px;
}

#segmented__battleship {
  display: flex;
  flex-direction: row;
  margin-top: -1px;
  margin-left: -1px;
}

#segmented__battleship:hover {
  cursor: grab;
}

#segmented__battleship .segment {
  outline: 1px solid; /* use instead of border */
  margin-top: 1px;
  margin-left: 1px;
  background-color: purple;
}

#boatBox__battleship {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  /* border: 2px solid black; */
  height: 105px;
  width: 105px;
}

#segmented__destroyer {
  display: flex;
  flex-direction: row;
  margin-top: -1px;
  margin-left: -1px;
}

#segmented__destroyer:hover {
  cursor: grab;
}

#segmented__destroyer .segment {
  outline: 1px solid; /* use instead of border */
  margin-top: 1px;
  margin-left: 1px;
  background-color: orangered;
}

#boatBox__destroyer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  /* border: 2px solid black; */
  height: 80px;
  width: 80px;
}

#segmented__submarine {
  display: flex;
  flex-direction: row;
  margin-top: -1px;
  margin-left: -1px;
}

#segmented__submarine:hover {
  cursor: grab;
}

#segmented__submarine .segment {
  outline: 1px solid; /* use instead of border */
  margin-top: 1px;
  margin-left: 1px;
  background-color: green;
}

#boatBox__submarine {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  /* border: 2px solid black; */
  height: 80px;
  width: 80px;
}

#segmented__patrolboat {
  display: flex;
  flex-direction: row;
  margin-top: -1px;
  margin-left: -1px;
}

#segmented__patrolboat:hover {
  cursor: grab;
}

#segmented__patrolboat .segment {
  outline: 1px solid; /* use instead of border */
  margin-top: 1px;
  margin-left: 1px;
  background-color: gold;
}

#boatBox__patrolboat {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  /* border: 2px solid black; */
  height: 55px;
  width: 55px;
}
