*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  gap: 50px;
  background-color: lightblue;
  justify-content: center;
  align-items: center;
  font-family: "Roboto";
}

.text {
  max-width: 500px;
}

h1 {
  font-size: 3rem;
  text-align: center;
  font-weight: 900;
  text-decoration: underline;
}

h2 {
  margin: 0;
  font-size: 2rem;
  font-weight: 700;
  text-align: center;
  margin-inline: 2rem;
}

h3 {
  margin: 0;
  font-weight: 400;
  margin-inline: 3rem;
}

#boardOne {
  display: flex;
  flex-direction: column;
  order: -1;
}

.row {
  display: flex;
  flex-direction: row;
  margin-top: -1px;
  margin-left: -1px;
}
.row .box {
  outline: 2px solid; /* use instead of border */
  margin-top: 1px;
  margin-left: 1px;
}

.box {
  border: 1px black solid;
  width: 25px;
  height: 25px;
}

#content {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 50px;
}

.carrier {
  height: 130px;
  width: 130px;
}
.battleship {
  height: 105px;
  width: 105px;
}
.destroyer {
  height: 80px;
  width: 80px;
}
.submarine {
  height: 80px;
  width: 80px;
}
.patrolboat {
  height: 80px;
  width: 80px;
}

#place_carrier {
  width: 125px;
  height: 25px;
  background-color: #ffbe0b;

  cursor: move;
}
#place_battleship {
  width: 100px;
  height: 25px;
  background-color: #fb5607;

  cursor: move;
}
#place_destroyer {
  width: 75px;
  height: 25px;
  background-color: pink;

  cursor: move;
}
#place_submarine {
  width: 75px;
  height: 25px;
  background-color: orangered;

  cursor: move;
}
#place_patrolboat {
  width: 50px;
  height: 25px;
  background-color: #ff006e;

  cursor: move;
}

.draggable.dragging {
  opacity: 0.5;
}

.boatBox {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid black;
}

.boatRow {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
}

#harbor {
  order: -1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: lightblue;
  border: black 10px solid;
  border-radius: 32px;
  gap: 10px;
  padding: 10px;
}

.segment {
  width: 25px;
  height: 25px;
  border: 1px solid black;
}

#segmented__carrier {
  display: flex;
  flex-direction: row;
  /* margin-top: -1px;
  margin-left: -1px; */
}

#segmented__carrier:hover {
  cursor: grab;
}

#segmented__carrier .segment {
  outline: 1px solid; /* use instead of border */
  margin-top: 1px;
  margin-left: 1px;
  background-color: #ffbe0b;
}

#boatBox__carrier {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  /* border: 2px solid black; */
  height: 130px;
  width: 130px;
}

#segmented__battleship {
  display: flex;
  flex-direction: row;
  margin-top: -1px;
  margin-left: -1px;
}

#segmented__battleship:hover {
  cursor: grab;
}

#segmented__battleship .segment {
  outline: 1px solid; /* use instead of border */
  margin-top: 1px;
  margin-left: 1px;
  background-color: #bc6c25;
}

#boatBox__battleship {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  /* border: 2px solid black; */
  height: 105px;
  width: 105px;
}

#segmented__destroyer {
  display: flex;
  flex-direction: row;
  margin-top: -1px;
  margin-left: -1px;
}

#segmented__destroyer:hover {
  cursor: grab;
}

#segmented__destroyer .segment {
  outline: 1px solid; /* use instead of border */
  margin-top: 1px;
  margin-left: 1px;
  background-color: #1d3557;
}

#boatBox__destroyer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  /* border: 2px solid black; */
  height: 80px;
  width: 80px;
}

#segmented__submarine {
  display: flex;
  flex-direction: row;
  margin-top: -1px;
  margin-left: -1px;
}

#segmented__submarine:hover {
  cursor: grab;
}

#segmented__submarine .segment {
  outline: 1px solid; /* use instead of border */
  margin-top: 1px;
  margin-left: 1px;
  background-color: #8338ec;
}

#boatBox__submarine {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  /* border: 2px solid black; */
  height: 80px;
  width: 80px;
}

#segmented__patrolboat {
  display: flex;
  flex-direction: row;
  margin-top: -1px;
  margin-left: -1px;
}

#segmented__patrolboat:hover {
  cursor: grab;
}

#segmented__patrolboat .segment {
  outline: 1px solid; /* use instead of border */
  margin-top: 1px;
  margin-left: 1px;
  background-color: #8ac926;
}

#boatBox__patrolboat {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  /* border: 2px solid black; */
  height: 55px;
  width: 55px;
}

#commander,
#admiral {
  align-self: center;
  border: none;
  padding: 1rem 1rem;
  margin: 0;
  text-decoration: none;
  background: white;
  color: #0c090a;
  border-radius: 8px;
  font-size: 1rem;
  font-weight: 600;
  cursor: pointer;
  text-align: center;
  transition: background 250ms ease-in-out, transform 150ms ease;
  -webkit-appearance: none;
  -moz-appearance: none;
}

#commander:hover,
#commander:focus {
  background: #daf7a6;
  transform: scale(1.05);
}

#commander:focus {
  outline: 1px solid rgb(0, 0, 0);
  outline-offset: -4px;
}

#commander:active {
  transform: scale(0.95);
}

#admiral:hover,
#admiral:focus {
  background: #ffcccb;
  transform: scale(1.05);
}

#admiral:focus {
  outline: 1px solid rgb(0, 0, 0);
  outline-offset: -4px;
}

#admiral:active {
  transform: scale(0.95);
}

#replaceShips:hover,
#replaceShips:focus {
  background: white;
  transform: scale(1.05);
}

#replaceShips:focus {
  outline: 1px solid rgb(0, 0, 0);
  outline-offset: -4px;
}

#replaceShips:active {
  transform: scale(0.95);
}

#buttonBox {
  display: flex;
  flex-direction: column;
  gap: 25px;
}

#buttonBoxTop {
  display: flex;
  flex-direction: row;
  gap: 25px;
}

#buttonBoxBottom {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

#replaceShips {
  align-self: center;
  border: none;
  padding: 1rem 1rem;
  margin: 0;
  text-decoration: none;
  background: white;
  color: #0c090a;
  border-radius: 8px;
  font-size: 1rem;
  font-weight: 600;
  cursor: pointer;
  text-align: center;
  transition: background 250ms ease-in-out, transform 150ms ease;
  -webkit-appearance: none;
  -moz-appearance: none;
}

#playAgain {
  align-self: center;
  border: none;
  padding: 1rem 1rem;
  margin: 0;
  text-decoration: none;
  background: white;
  color: #0c090a;
  border-radius: 8px;
  font-size: 1rem;
  font-weight: 600;
  cursor: pointer;
  text-align: center;
  transition: background 250ms ease-in-out, transform 150ms ease;
  -webkit-appearance: none;
  -moz-appearance: none;
}

#playAgain:hover,
#playAgain:focus {
  background: white;
  transform: scale(1.05);
}

#playAgain:focus {
  outline: 1px solid rgb(0, 0, 0);
  outline-offset: -4px;
}

#playAgain:active {
  transform: scale(0.95);
}
